<!--
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/cache
       http://www.springframework.org/schema/cache/spring-cache.xsd">

    &lt;!&ndash; 缓存的xml配置方式 &ndash;&gt;
    <aop:config>
        <aop:advisor advice-ref="cacheAdvice" pointcut="execution(* com.com.hph.data.SpittleRepositorySwapper.*(..))" />
    </aop:config>

    <cache:advice id="cacheAdvice">
        <cache:caching>
            <cache:cacheable cache="spittleCache" method="findOne" />
        </cache:caching>

        <cache:caching>
            <cache:cache-put cache="spittleCache" method="sava" />
        </cache:caching>

        <cache:caching>
            <cache:cache-evict cache="spittleCache" method="remove" />
        </cache:caching>
    </cache:advice>

    <bean id="cacheManager" class="org.springframework.cache.concurrent.ConcurrentMapCacheManager" />
</beans>-->
